#map{
    height: 500px;
    width: 100%;
    display: inline-block;
    align-items: center
}

.leaflet-popup-content p{
    margin: 3px 0;
}

.range-slider{
    width: 200px;
    display: inline-block;
}

.timestamp-container {
    top:260px;
    width: 100px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding-bottom: 15px;
    line-height: 45px; 
    text-align: center;
    border: solid gray 1px;
    font-size: 16px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.range-slider-container{
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}