#wrapper{
    position: relative;
    height: 98vh;
}

#map{
    height: 98vh;
}

#welcomePanel {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-75%);
	width: 40%;
}

.info {
	padding: 2vh 2vw;
	font: 16px, sans-Serif;
	background: rgba(255,255,255,0.7);
	box-shadow: 0 0 15px rgba(37,37,37,0.4);
	border-radius: 5px;
	text-align: center;
}

.leaflet-popup-content p{
    margin: 0.2px 0;
}

.info .leaflet-popup-content-wrapper{
    background: blueviolet;
    height: 250px;

}

.range-slider{
    width: 200px;
}

.timestamp-container{
    width: 120 px;
    height: 200 px;
    background-color: rgba(255,255,255,0.8);
    padding: 30px;
    line-height: 35px; 
    text-align: center;
    border: solid gray 1px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#temporal-legend{
    font-size: 14px;
    padding: 6px 6px;
    height: 30px;
}

.range-slider-container{
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

#forward{
    float: right;
}

#reverse{
    float: left;
}